@charset "UTF-8";

.inner {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
}

body {
  font-family: 'Lato';
}

.is-raleway {
  font-family: 'Raleway';
}

a {
  display: block;
}

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 999;
  padding: 15px 0;
  top: 0;
  left: 0;
}

.inner-header {
  display: flex;
  justify-content: space-between;
}

.fa-bolt {
  font-size: 40px;
  color: #4e4e4e;
}

.header-btn {
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}

.header-btn:hover {
  color: #333;
  transition: all 0.3s;
}

.main {
  padding-top: 70px;
  width: 100%;
}

.theme {
  background-color: #f2f2f2;
  padding: 250px 0;
}

.theme-text-top {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-text-bottom {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.explanation {
  background-color: #74cfae;
  padding-top: 50px;
}

.wrapper-explanation {
  display: flex;
  justify-content: space-around;
}

.wrapper-iphone-img {
  font-size: 0;
}

.explanation-title-text {
  width: 700px;
  color: #fff;
  margin-top: 30px;
}

.explanation-title {
  font-size: 24px;
}

.explanation-text {
  font-size: 20px;
  margin-top: 35px;
}

.image {
  background-color: #f2f2f2;
  padding: 60px 0 60px 0;
}

.title-image {
  font-size: 24px;
  color: #333;
}

.multiple-image {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}

.top-image {
  display: flex;
  margin-bottom: 80px;
}

.bottom-image {
  display: flex;
  margin-bottom: 90px;
}

.image-img {
  margin-left: 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.image-img:hover {
  opacity: 1.0;
  transition: all 0.3s;
}

.image-img:nth-child(3n+1) {
  margin-left: 0;
}

.image-img:nth-child(n+4) {
  margin-top: 80px;
}

.wrapper-image {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.text-image {
  width: 500px;
  color: #333;
}

.btn-image {
  margin-left: 90px;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  height: 12px;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-image:hover {
  color: #333;
  transition: all 0.3s;
}

.graph {
  width: 100%;
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.title-graph {
  color: #fff;
  font-size: 20px;
}

.wrapper-graph {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.element-text {
  font-size:16px;
  color: #fff;
  margin-top: 16px;
}

.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
}

.inner-sns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-sns {
  width: 185px;
  height: 100px;
  display: table;
  align-items: center;
  justify-content: center;
  transition: all.3s;
}

.box-sns a {
  display: table-cell;
  vertical-align: middle;
}

.sns-icon {
  color: #74cfae;
  font-size: 30px;
}

.box-sns:hover {
  background-color: #fff;
  transition: all.3s;
  cursor: pointer;
}

.footer {
  padding: 20px 0 25px 0;
  background-color: #74cfae;
}

.text-footer {
  font-size: 12px;
  color: #fff;
  text-align: right;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 1199px) {
  .inner {
    max-width: 97%;
  }

  .explanation {
    padding-bottom: 25px;
  }

  .wrapper-explanation {
    display: block;
  }

  .explanation-title-text {
    margin: 20px auto 0 auto
  }

  .multiple-image {
    display: block;
  }

  .image-img {
    margin: 0 auto 0 auto;
    height: 300px;
    width: 300px;
  }

  .image-img:nth-child(3n+1) {
    margin: 0 auto 0 auto;
  }

  .image-img:nth-child(n+4) {
    margin-top: 0;
  }

  .image-img:nth-child(3n+4) {
    margin-top: 80px;
  }

  .wrapper-image {
    margin-top: 80px;
    display: block;
  }

  .text-image {
    width: 730px;
    margin: 0 auto;
    font-size: 15px;
  }

  .btn-image {
    margin: 40px auto 0 auto;
    width: 60px;
  }
  
  .wrapper-graph {
    display: block;
  }
  
  .bootstrap,
  .wordpress,
  .photoshop {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
 
  .hamburger-menu {
    display: block;
  }

  .menu-btn {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    height: 40px;
    width: 45px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ddd;
    position: absolute;
  }
  
  .menu-btn span:before {
    bottom: 8px;
  }

  .menu-btn span:after {
    top: 8px;
  }

  .theme {
    padding: 160px 0 130px 0;
  }
  
  .theme-text-top {
    font-size: 80px;
    width: 300px;
    margin: 0 auto;
  }
  
  .theme-text-bottom {
    width: 300px;
    margin: 0 auto 0 auto;
  }

  .explanation-title-text {
    width: 297px;
  }

  .text-image {
    width: 280px;
  }

  .sns {
    padding: 50px 15px;
  }

  .inner-sns {
    display: block;
  }

  .box-sns {
    width: 100%;
  }
}