@charset "UTF-8";

body {
  font-family: 'Raleway', cursive;
}

.inner {
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
}

/* .clearfix:after {
  content: “”;
  display: block;
  clear: both;
} */

a {
  display: block;
}

.header {
  width: 100%;
  background-color:#fff;
  /* height:50px; */
  position: fixed;
  z-index: 999;
  padding: 15px 0;
  top: 0;
}

.inner-header{
  /* height: 80px; */
  display: flex;
  justify-content: space-between;
  /* position: relative; */
}

.wrapper-icon {
  /* position: absolute;
  left: 0; */
}

.fa-bolt {
  font-size: 40px;
  color: #4e4e4e;
}

.header-btn {
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
  /* position: absolute;
  left: 90%; */
  color: #fff;
  transition: all 0.3s;
  text-decoration: none;
}

.header-btn:hover {
  color: #333;
  transition: all 0.3s;
}

.main {
  padding-top: 70px;
}

.theme {
  background-color: #f2f2f2;
  padding-top: 250px;
  padding-bottom: 250px;
}

.theme-text-top {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-text-bottom {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.explanation {
  background-color: #74cfae;
}

.wrapper-explanation {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  padding-top: 50px;
}

.wrapper-iphone-img {
  font-size: 0;
}

.explanation-title-text {
  width: 700px;
  color: #fff;
  margin-top: 30px;
}

.explanation-title {
  font-size: 24px;
  /* margin-left: auto;
  margin-right: auto; */
}

.explanation-text {
  font-size: 20px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 35px;
}

.image {
  background-color: #f2f2f2;
  padding-bottom: 70px;
}

.title-image {
  padding-top: 60px;
  font-size: 24px;
  color: #333;
}

.multiple-image {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
}

.top-image {
  display: flex;
  margin-bottom: 80px;
}

.bottom-image {
  display: flex;
  margin-bottom: 90px;
}

.image-img {
  margin-left: 100px;
  opacity: 0.7;
  transition: all 0.3s;
}

.image-img:hover {
  opacity: 1.0;
  transition: all 0.3s;
}

/* .image-img:first-child {
  margin-left: 0;
} */

.image-img:nth-child(3n+1) {
  margin-left: 0;
}

.image-img:nth-child(n+4) {
  margin-top: 80px;
}

.wrapper-image {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.text-image {
  width: 500px;
  color: #333;
}

.btn-image {
  margin-left: 90px;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  height:12px;
  text-decoration: none;
  transition: all 0.3s;
}

.btn-image:hover {
  color: #333;
  transition: all 0.3s;
}

.graph {
  width: 100%;
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px; 
}

.title-graph {
  /* margin-bottom:70px; */
  color: #fff;
  font-size: 20px;
}

.wrapper-graph {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.element-text {
  font-size:16px;
  color: #fff;
  margin-top: 16px;
}

.sns {
  width: 100%;
  background-color: #f2f2f2;
}

.inner-sns {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.box-sns {
  width: 185px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all.3s;
}

.box-sns a {
  /* height: 100%; */
}

.sns-icon {
  color: #74cfae;
  font-size: 30px;
}

.box-sns:hover {
  background-color: #fff;
  transition: all.3s;
  cursor: pointer;
}

.footer {
  padding-top: 20px;
  padding-bottom: 25px;
  background-color: #74cfae;
}

.text-footer {
  font-size: 12px;
  color: #fff;
  text-align: right;
}